<%= render "layouts/navbar" %>
<div class="spacing">
  <div class="main-container">

    <h1> Edit Task </h1><br />

    <%= render "task_form", task: @task %>

    <br>

    <div class="back-container">
      <div class="bck-btn">
        <%= link_to category_path(@task.category) do %>
          <i class="fa-solid fa-chevron-left fa-xl"></i>
        <% end %>
      </div>
    </div>

  </div>
</div>