<%= render "layouts/navbar" %>
<div class="spacing">
  <div class="main-container">
    <h1> Add Task for <%= @category.name %> </h1> <br />
    <%= render "task_form", task: Task.new %>

    <div class="back-container">
      <div class="bck-btn">
        <%= link_to category_path(@category) do %>
          <i class="fa-solid fa-chevron-left fa-xl"></i>
        <% end %>
      </div>
    </div>
  
  </div>
</div>