$blue_green: #43766C;
$cream: #F8FAE5;
$brown: #B19470;
$rbrown: #76453B;

$dark-pink: #944E63;
$rose: #B47B84;
$pink: #CAA6A6;
$bpink: #CAA6A6;
$hover-color: rgba(220, 216, 210, 0.52);

$bg-grad: linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(202,166,166,1) 100%);
$text: black;



