// sharing styles for notice and alert messages

@import 'variables';

@mixin common-styles($background, $border, $text-color) {
  display: block;
  opacity: 0;
  animation: fadeOut 10s forwards;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: $background;
  border: 1px solid $border;
  padding: 15px;
  max-width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  cursor: default;
  border-radius: 5px;
  color: $text-color;

  &:empty {
    animation: fadeOut 0.1s forwards;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
  }
}

.notice {
  @include common-styles($blue_green, $hover-color, $cream);
}

.alert {
  @include common-styles($cream, $hover-color, red);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
