<br />

<%= form_with(model: category) do |form| %>
    <p>
        <%= form.text_field :name, placeholder: "Enter Category Name (maximum of 50 characters)" %>
    </p>

    <div class="button">
        <%= form.submit "Submit" %>
    </div> <br>

<% end %>